---
- hosts: webservers 
  become: yes
  remote_user: silvia 
  tasks:
  - name: Instalando o nginx
    apt:
      name: nginx
      state: latest
      update_cache: yes

  - name: Habilitando o start do nginx no boot
    service:
      name: nginx
      enabled: yes

  - name: Iniciando o nginx
    service: 
      name: nginx
      state: started

  - name: Copiando HTML personalizado
    copy:
      src: ../files/index.html
      dest: /var/www/html/index.html

  - name: Copiando nginx.conf
    copy:
      src: ../files/nginx.conf
      dest: /etc/nginx/nginx.conf
    notify: Restartando o nginx

  handlers:
  - name: Restartando o nginx
    service:
      name: nginx
      state: restarted
